.gradient-custom {
	background: rgb(0,102,80);
	background: linear-gradient(90deg, rgba(0,102,80,1) 0%, rgba(48,102,0,1) 49%, rgba(0,102,80,1) 100%);
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: 3px solid white;
}

thead th:nth-child(1) {
	width: 30%;
}

thead th:nth-child(2) {
	width: 20%;
}

thead th:nth-child(3) {
	width: 15%;
}

thead th:nth-child(4) {
	width: 35%;
}

th,td {
	padding: 20px;
}

a:link, a:visited, a:active {
    text-decoration:none;
	font-size: 30px;
	color: white;
}

a:hover {
	color: white !important;
}

h1 {
text-align: center;
}

body{
	color: White !important;
}