{% extends 'layouts/menu.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <h1>Materiales prestados por {{persona.nombre}}</h1>
                <table class="table text-light">
                    <thead>
                        <tr>
                            <th>Cedula</th>
                            <th>Id Material</th>
                            <th>Devolver</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in materiales %}
                        <tr>
                            <td>{{persona.cedula}}</td>
                            <td>{{m.idMaterial}}</td>
                            <td><a href="/hacerDevolucion/{{ m.cedula }}/{{ m.idMaterial }}" class="btn btn-sm btn-block btn-success">Devolver</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}