{% extends 'layouts/menu.html' %}
{% block content %}
<form method="POST" class="form">
    <center>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success">Registrar</button>
    </center>
</form>
{% if succes == 2 %}
<script>
    Toastify({
        text: "Material no creado",
        duration: 3200,
        destination: "",
        newWindow: true,
        close: false,
        gravity: "bottom", // `top` or `bottom`
        position: "center", // `left`, `center` or `right`
        stopOnFocus: true, // Prevents dismissing of toast on hover
        style: {
            background: "red"
    },
        onClick: function () { } // Callback after click
    }).showToast();
</script>
{% endif %}
<script>
    function actualizarValor() {
        let valor = document.getElementById("id_cantidadRegistrada").value;
        document.getElementById("id_cantidadActual").value = valor;
    }
</script>

{% endblock %}