{% extends 'layouts/menu.html' %}
{% block content %}
<form method="POST" class="form">
    <center>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success">Registrar</button>
    </center>
</form>
{% if succes == 2 %}
<script>
    toastify("Material no creado","red")
</script>
{% endif %}
<script>
    function actualizarValor() {
        let valor = document.getElementById("id_cantidadRegistrada").value;
        document.getElementById("id_cantidadActual").value = valor;
    }
</script>
{% endblock %}