{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>{{ Titulo.title }}</title>
  <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <!-- Font Google -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="gradient-custom">
  <section class="vh-100">
    <div class="container py-5 h-100">
      <h1><a href="{% url 'Usuarios' %}">Biblioteca</a></h1>
      <table>
        <tr>
          <td width=10% align="center"><a href="{% url 'Usuarios' %}">Usuarios</a></td>
          <td width=10% align="center"><a href="{% url 'Materiales' %}">Materiales</a></td>
          <td width=10% align="center" colspan="2"><a href="{% url 'Historial' %}">Historial</a></td>
        </tr>
      </table><br>
      
        
      {% block content %}
      {% endblock %}
              
    </div>
  </section>
</body>

</html>